/* Dark mode styling */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Centering content */
.container {
    text-align: center;
}

/* Styling for upload inputs */
input[type="file"] {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: #555555;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #777777;
}

/* Styling for anchors */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styling for buttons */

button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}