/* Dark mode styling */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

/* Styling for upload inputs */
input[type="file"] {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: #555555;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #777777;
}

/* Styling for password inputs */
input[type="password"] {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 10px;
    border-radius: 5px;
}

/* Styling for anchors */
a {
    color: #d2edfa;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

/* Styling for buttons */

button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555555;
}

/* Styling for logout button */
.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
}

.logout:hover {
    background-color: #ff6666;
}

/* Styling for error messages */
.error {
    background-color: #ff4d4d;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: fit-content;
}

/* Styling for success messages */
.success {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: fit-content;
}

/* Styling for an accent 'browse' button */
.nav {
    background-color: #245072;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.nav:hover {
    background-color: #1d3a4a;
}

/* Styling for UL file list */
ul {
    list-style-type: none;
    padding: 0;
}

/* Styling for LI file list */
li {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-link {
    margin-right: 15px;
}